html, body {
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
	font-family:'맑은고딕';
	color:#d4b7f4;
}
#cover_close{
	margin:0px;
	padding:0px;
}
#map{
	margin: auto;
	margin-top:5px;
	width: 95%;
	height: 1200px;
	border: 5px solid #b88ee3;
	border-radius:5px;
}